/* line 5, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_nav-elements.sass */
.hamburger {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  background-color: #111;
  padding: 20px;
}
/* line 9, ../sass/_nav-elements.sass */
.hamburger:hover .hamburger-box, .hamburger:focus .hamburger-box {
  opacity: 0.7;
}
/* line 12, ../sass/_nav-elements.sass */
.hamburger-box {
  position: relative;
  width: 28px;
  height: 17px;
}
/* line 16, ../sass/_nav-elements.sass */
.hamburger-inner {
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  transition: 75ms ease-in-out;
}
/* line 22, ../sass/_nav-elements.sass */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  position: absolute;
  width: 28px;
  height: 3px;
  transition: transform 0.15s ease-in-out;
  background-color: #fff;
}
/* line 30, ../sass/_nav-elements.sass */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
/* line 34, ../sass/_nav-elements.sass */
.hamburger-inner::before {
  top: -7px;
  transition: top 75ms ease-in-out 0.12s, opacity 75ms ease-in-out;
}
/* line 37, ../sass/_nav-elements.sass */
.hamburger-inner::after {
  bottom: -7px;
  transition: bottom 75ms ease-in-out 0.12s, transform 75ms ease-in-out;
}
@media screen and (min-width: 980px) {
  /* line 3, ../sass/_nav-elements.sass */
  .hamburger {
    display: none;
  }
}

/* line 45, ../sass/_nav-elements.sass */
.is-active .hamburger-inner {
  background: transparent;
  transition: background 75ms ease-in-out 0.12s;
}
/* line 48, ../sass/_nav-elements.sass */
.is-active .hamburger-inner::before {
  background-color: #f7971e;
  top: 0;
  transform: rotate(45deg);
  transition: top 75ms ease-in-out, transform 75ms ease-in-out 0.12s;
}
/* line 53, ../sass/_nav-elements.sass */
.is-active .hamburger-inner::after {
  background-color: #f7971e;
  bottom: 0;
  transform: rotate(-45deg);
  transition: top 75ms ease-in-out, transform 75ms ease-in-out 0.12s;
}

/* line 62, ../sass/_nav-elements.sass */
.cross {
  cursor: pointer;
  padding: 20px;
  transition: 0.3s ease-in-out;
}
/* line 66, ../sass/_nav-elements.sass */
.cross:hover, .cross:focus {
  opacity: 0.6;
}
/* line 69, ../sass/_nav-elements.sass */
.cross-box {
  position: relative;
  width: 20px;
  height: 20px;
}
/* line 73, ../sass/_nav-elements.sass */
.cross-inner {
  top: 0;
  transform: rotate(45deg);
}
/* line 76, ../sass/_nav-elements.sass */
.cross-inner, .cross-inner::before {
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #fff;
}
/* line 82, ../sass/_nav-elements.sass */
.cross-inner::before {
  content: "";
  display: block;
  bottom: 0;
  transform: rotate(-90deg);
}

@keyframes arrow-swing {
  0% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-10px);
  }
  55% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* line 17, ../sass/main.sass */
* {
  box-sizing: border-box;
}

/* line 20, ../sass/main.sass */
body {
  margin: 0 auto;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

/* line 26, ../sass/main.sass */
.text--bold {
  font-weight: bold;
}

/* line 29, ../sass/main.sass */
.scrollto-top {
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: 15px;
  display: none;
  opacity: 0.2;
  background-color: #505050;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.3s ease-in-out;
}
/* line 41, ../sass/main.sass */
.scrollto-top:hover, .scrollto-top:focus {
  opacity: 1;
}
/* line 43, ../sass/main.sass */
.scrollto-top__arrow {
  fill: #ffffff;
  transform: rotate(180deg);
}

/* line 49, ../sass/main.sass */
.scroll-arrow {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 14px;
}
/* line 55, ../sass/main.sass */
.scroll-arrow__element, .arrow--dark {
  animation: arrow-swing 1.7s infinite ease;
  width: 38px;
  height: 18px;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 640px) {
  /* line 49, ../sass/main.sass */
  .scroll-arrow {
    bottom: 40px;
  }
}

/* line 64, ../sass/main.sass */
.arrow--dark {
  animation: none;
  fill: #000000;
}
/* line 68, ../sass/main.sass */
.arrow--dark:hover, .arrow--dark:focus {
  opacity: 0.7;
}

/* line 73, ../sass/main.sass */
.form-main, .modal-form, .footer-site__form {
  margin-bottom: 60px;
}
/* line 75, ../sass/main.sass */
.form-main input, .modal-form input, .footer-site__form input, .form-main label, .modal-form label, .footer-site__form label, .form-main textarea, .modal-form textarea, .footer-site__form textarea {
  display: block;
}
/* line 77, ../sass/main.sass */
.form-main label, .modal-form label, .footer-site__form label {
  font-size: 1em;
  line-height: 2;
  font-weight: 300;
  text-align: left;
  margin-bottom: 16px;
  color: #ffffff;
}
/* line 82, ../sass/main.sass */
.form-main input, .modal-form input, .footer-site__form input, .form-main textarea, .modal-form textarea, .footer-site__form textarea {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.875em;
  line-height: 2;
  font-weight: 300;
  border: none;
  outline: none;
  color: #ffffff;
  width: 100%;
}
/* line 89, ../sass/main.sass */
.form-main textarea, .modal-form textarea, .footer-site__form textarea {
  height: 144px;
  max-width: 100%;
}
/* line 92, ../sass/main.sass */
.form-main [placeholder], .modal-form [placeholder], .footer-site__form [placeholder] {
  font-size: 0.875em;
  line-height: 2;
  font-weight: 300;
  padding: 10px 20px;
}
/* line 95, ../sass/main.sass */
.form-main button, .modal-form button, .footer-site__form button {
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

/* line 102, ../sass/main.sass */
.g-btn {
  font-size: 0.875em;
  line-height: 40px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: rgba(247, 151, 30, 0.7);
  transition: all 0.2s ease-in-out;
}
/* line 114, ../sass/main.sass */
.g-btn:hover, .g-btn:focus {
  background-color: #f7971e;
}

/* line 118, ../sass/main.sass */
.title-lvl2 {
  font-size: 1.875em;
  line-height: 1.23;
  font-weight: 600;
  margin-bottom: 20px;
}
@media screen and (min-width: 640px) {
  /* line 118, ../sass/main.sass */
  .title-lvl2 {
    font-size: 2.375em;
    margin-bottom: 40px;
  }
}

/* line 126, ../sass/main.sass */
.title-lvl3 {
  font-size: 1.125em;
  line-height: 1.35;
  font-weight: 600;
  margin-bottom: 16px;
}
@media screen and (min-width: 640px) {
  /* line 126, ../sass/main.sass */
  .title-lvl3 {
    font-size: 1.375em;
    margin-bottom: 38px;
  }
}

/* line 134, ../sass/main.sass */
.title-lvl4 {
  font-size: 1em;
  line-height: 1.35;
  font-weight: 600;
  margin-bottom: 8px;
}
@media screen and (min-width: 640px) {
  /* line 134, ../sass/main.sass */
  .title-lvl4 {
    font-size: 1.125em;
    margin-bottom: 12px;
  }
}

/* line 142, ../sass/main.sass */
.text-large {
  font-size: 1.25em;
  line-height: 1.429;
  font-weight: 300;
}
@media screen and (min-width: 640px) {
  /* line 142, ../sass/main.sass */
  .text-large {
    font-size: 1.375em;
  }
}

/* line 148, ../sass/main.sass */
.text-normal {
  font-size: 0.875em;
  line-height: 1.429;
  font-weight: inherit;
}
@media screen and (min-width: 640px) {
  /* line 148, ../sass/main.sass */
  .text-normal {
    font-size: 1em;
  }
}

/* line 154, ../sass/main.sass */
.text-small {
  font-size: 0.75em;
  line-height: 1.429;
  font-weight: inherit;
}
@media screen and (min-width: 640px) {
  /* line 154, ../sass/main.sass */
  .text-small {
    font-size: 0.875em;
  }
}

/* line 160, ../sass/main.sass */
.modal {
  display: none;
  position: fixed;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
/* line 171, ../sass/main.sass */
.modal .cross {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 175, ../sass/main.sass */
.modal .cross:active {
  transform: scale(0.8);
}
/* line 177, ../sass/main.sass */
.modal__content {
  color: #ffffff;
  border-radius: 5px;
  padding: 40px 30px;
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  margin: 30px auto;
  width: 90%;
  background-color: #505050;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 190, ../sass/main.sass */
.modal .title-lvl4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 193, ../sass/main.sass */
.modal .text-normal {
  font-weight: 300;
  margin-bottom: 10px;
}
/* line 196, ../sass/main.sass */
.modal__text-block {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 199, ../sass/main.sass */
.modal-form {
  margin-bottom: 0;
}
@media screen and (min-width: 980px) {
  /* line 203, ../sass/main.sass */
  .modal__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
  }
  /* line 208, ../sass/main.sass */
  .modal .title-lvl4 {
    width: 100%;
    margin-bottom: 36px;
  }
  /* line 211, ../sass/main.sass */
  .modal__text-block {
    width: 45%;
  }
  /* line 213, ../sass/main.sass */
  .modal-form {
    width: 45%;
  }
}

/* line 217, ../sass/main.sass */
.content__block {
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
  position: relative;
}

/* line 225, ../sass/main.sass */
.header-site {
  position: relative;
}
/* line 227, ../sass/main.sass */
.header-site .menu {
  padding-top: 10px;
  padding-bottom: 30px;
}
/* line 228, ../sass/main.sass */
.header-site .menu-wrap {
  display: none;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
/* line 233, ../sass/main.sass */
.header-site .menu-wrap__logo {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 237, ../sass/main.sass */
.header-site .menu-wrap__logo img {
  width: 100px;
}
/* line 239, ../sass/main.sass */
.header-site .menu-wrap__logo, .header-site .menu__item {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
/* line 247, ../sass/main.sass */
.header-site .menu__item {
  font-size: 1em;
  line-height: 40px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
/* line 250, ../sass/main.sass */
.header-site .menu__item:hover, .header-site .menu__item:focus {
  color: #f7971e;
}
/* line 252, ../sass/main.sass */
.header-site .menu__item:active {
  transform: scale(0.95);
}
@media screen and (min-width: 980px) {
  /* line 227, ../sass/main.sass */
  .header-site .menu {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-end;
  }
  /* line 255, ../sass/main.sass */
  .header-site .menu-wrap {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* line 274, ../sass/main.sass */
  .header-site .menu__item {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1000px) {
  /* line 277, ../sass/main.sass */
  .header-site .menu-wrap {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1000px) and (min-width: 1000px) {
  /* line 277, ../sass/main.sass */
  .header-site .menu-wrap {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1000px) and (min-width: 1240px) {
  /* line 277, ../sass/main.sass */
  .header-site .menu-wrap {
    max-width: 1200px;
  }
}

/* line 286, ../sass/main.sass */
section .wrapper {
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 1000px) {
  /* line 286, ../sass/main.sass */
  section .wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1240px) {
  /* line 286, ../sass/main.sass */
  section .wrapper {
    max-width: 1200px;
  }
}

/* line 290, ../sass/main.sass */
.about {
  min-height: 100vh;
  color: #ffffff;
  background-color: #000000;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../images/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
/* line 306, ../sass/main.sass */
.about__title {
  font-size: 2em;
  line-height: 2.9;
  font-weight: 900;
}
/* line 308, ../sass/main.sass */
.about__description {
  font-size: 0.875em;
  line-height: 1.429;
  font-weight: inherit;
}
/* line 310, ../sass/main.sass */
.about .scroll-arrow__element, .about .arrow--dark {
  fill: #ffffff;
}
/* line 312, ../sass/main.sass */
.about .scroll-arrow__element:hover, .about .arrow--dark:hover, .about .scroll-arrow__element:focus, .about .arrow--dark:focus {
  fill: #f7971e;
}
@media screen and (min-width: 640px) {
  /* line 316, ../sass/main.sass */
  .about__title {
    font-size: 4.25em;
  }
  /* line 318, ../sass/main.sass */
  .about__description {
    font-size: 1.375em;
  }
}
@media screen and (min-width: 980px) {
  /* line 290, ../sass/main.sass */
  .about {
    background-position: center bottom;
  }
}

/* line 324, ../sass/main.sass */
.how-it-works {
  display: flex;
  align-items: center;
  position: relative;
}

/* line 330, ../sass/main.sass */
.why-us {
  background-color: #f0f0f0;
}
/* line 332, ../sass/main.sass */
.why-us__intro {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
/* line 339, ../sass/main.sass */
.why-us__intro svg {
  width: 80px;
  margin-bottom: 20px;
}
@media screen and (min-width: 980px) {
  /* line 343, ../sass/main.sass */
  .why-us .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  /* line 347, ../sass/main.sass */
  .why-us h2, .why-us p {
    width: 100%;
  }
  /* line 349, ../sass/main.sass */
  .why-us__intro {
    width: 30%;
  }
}

/* line 354, ../sass/main.sass */
.services .text-large {
  margin-bottom: 60px;
}
/* line 356, ../sass/main.sass */
.services__item {
  margin-bottom: 30px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #f0f0f0, -2px -2px 4px #f0f0f0;
  transition: 0.3s ease-in-out;
}
/* line 362, ../sass/main.sass */
.services__item:hover, .services__item:focus {
  box-shadow: 6px 6px 8px #f0f0f0, -6px -6px 8px #f0f0f0;
}
/* line 365, ../sass/main.sass */
.services__item:not(.service4) li {
  padding-left: 20px;
}
/* line 367, ../sass/main.sass */
.services .title-lvl3 {
  margin: 0 40px;
  padding: 16px 0;
  border-bottom: 1px solid rgba(247, 151, 30, 0.3);
}
/* line 371, ../sass/main.sass */
.services img {
  display: block;
  height: 120px;
  margin: auto;
}
/* line 376, ../sass/main.sass */
.services .plan-price {
  background-image: linear-gradient(to right, rgba(247, 151, 30, 0.9), rgba(247, 151, 30, 0.3));
  color: #ffffff;
  font-weight: 700;
  font-size: 1.15em;
  padding: 20px 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid #f0f0f0;
}
/* line 385, ../sass/main.sass */
.services .plan-price__bonus {
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic;
}
/* line 390, ../sass/main.sass */
.services .plan-price:hover, .services .plan-price:focus {
  opacity: 0.7;
}
/* line 392, ../sass/main.sass */
.services .plan-button {
  background: linear-gradient(to right, rgba(247, 151, 30, 0.9), rgba(247, 151, 30, 0.3));
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 398, ../sass/main.sass */
.services .plan-button:hover, .services .plan-button:focus {
  opacity: 0.7;
}
/* line 400, ../sass/main.sass */
.services .plan-items {
  text-align: left;
  display: none;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 407, ../sass/main.sass */
.services .plan-items li:not(:last-child) {
  border-bottom: 1px dotted #e4e4e4;
}
/* line 410, ../sass/main.sass */
.services .service4 label {
  display: block;
  cursor: pointer;
  padding-left: 20px;
}
/* line 414, ../sass/main.sass */
.services .service4 input {
  display: none;
}
/* line 416, ../sass/main.sass */
.services .service4 [name="customized"]:checked ~ label {
  background-color: #f0f0f0;
}
@media screen and (min-width: 640px) {
  /* line 419, ../sass/main.sass */
  .services .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
  }
  /* line 425, ../sass/main.sass */
  .services .title-lvl2, .services .text-large {
    width: 100%;
  }
  /* line 427, ../sass/main.sass */
  .services__item {
    width: 48%;
  }
  /* line 429, ../sass/main.sass */
  .services .service4 {
    margin-bottom: 60px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1240px) {
  /* line 433, ../sass/main.sass */
  .services__item {
    width: 23%;
  }
  /* line 435, ../sass/main.sass */
  .services .service4 {
    margin-left: 0;
  }
}

/* line 439, ../sass/main.sass */
.start-now {
  background-color: #f0f0f0;
}
/* line 441, ../sass/main.sass */
.start-now__list {
  text-align: left;
  margin-top: 64px;
  margin-bottom: 64px;
}
/* line 446, ../sass/main.sass */
.start-now__list li {
  margin-bottom: 24px;
  padding-left: 60px;
  background: url(../images/check-mark.svg) no-repeat 0 0;
  background-size: 40px;
}
@media screen and (min-width: 640px) {
  /* line 452, ../sass/main.sass */
  .start-now__list {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 457, ../sass/main.sass */
  .start-now__list li {
    padding-left: 70px;
    background-size: 50px;
  }
}
@media screen and (min-width: 980px) {
  /* line 461, ../sass/main.sass */
  .start-now__list {
    width: 70%;
  }
  /* line 463, ../sass/main.sass */
  .start-now__list li {
    margin-bottom: 36px;
    padding-left: 90px;
    background-size: 55px;
  }
}

/* line 469, ../sass/main.sass */
.footer-site {
  background-color: #242424;
}
/* line 471, ../sass/main.sass */
.footer-site .wrapper {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 1000px) {
  /* line 471, ../sass/main.sass */
  .footer-site .wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1240px) {
  /* line 471, ../sass/main.sass */
  .footer-site .wrapper {
    max-width: 1200px;
  }
}
/* line 480, ../sass/main.sass */
.footer-site__title {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.25em;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 40px;
}
/* line 488, ../sass/main.sass */
.footer-site__contacts .connection {
  color: #ffffff;
  font-size: 1em;
  line-height: 2.5;
  font-weight: 300;
  text-decoration: none;
  display: block;
  transition: 0.3s ease-in-out;
}
/* line 494, ../sass/main.sass */
.footer-site__contacts .connection:hover, .footer-site__contacts .connection:focus, .footer-site__contacts .connection:active {
  text-decoration: underline;
  color: #f7971e;
}
/* line 497, ../sass/main.sass */
.footer-site__contacts .social {
  margin-top: 20px;
}
/* line 499, ../sass/main.sass */
.footer-site__contacts .social__item {
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}
/* line 505, ../sass/main.sass */
.footer-site__contacts .social__item:hover, .footer-site__contacts .social__item:focus {
  opacity: 0.7;
}
/* line 507, ../sass/main.sass */
.footer-site__contacts .social svg {
  width: 48px;
  height: 48px;
  fill: rgba(247, 151, 30, 0.7);
}
@media screen and (min-width: 760px) {
  /* line 512, ../sass/main.sass */
  .footer-site__form {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
  }
  /* line 520, ../sass/main.sass */
  .footer-site__form label {
    width: 30%;
  }
  /* line 522, ../sass/main.sass */
  .footer-site__form [for=client-response] {
    width: 65%;
    margin-bottom: 0;
  }
  /* line 525, ../sass/main.sass */
  .footer-site__form button {
    align-self: flex-end;
  }
}
